* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2896c9;
}

header {
  background-color: #464646;
  color: #dbf9f3;
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 25px;
  position: relative;
  height: 100px;
}

header h1 {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  height: 60px;
  width: 20%;
  background: #2896c9;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  bottom: 8px;
  left: 1px;
}

header a {
  color: #dbf9f3;
  text-decoration: none;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 25px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.about-me, .my-work {
  display: flex;
  width: 80%;
  margin: 0 auto; 
  margin-top: 3.5%; 
}

.about-me div {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.about-me h2, .my-work h2 {
  display: flex;
  font-style: italic;
  font-size: 55px;
  padding: 20px 35px;
  border-right: #1c5380 solid 5px;
  width: 20%;
  margin-top: 20px;
  color: #1c5380;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: right;
}

.about-me div p {  
  margin: 15px auto;
  text-align: left;
  font-size: 18px;
  line-height: 1.2;
  width: 90%;
}

.hero {
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  height: 350px;
  position: relative;
}

.hero-quote div {
  position: absolute;
  display: flex;
  background: #2896c9;
  color: white;
  height: 40px;
  font-size: 25px;
  right: 50px;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: solid white 3px;
}

.my-work {
  display: flex;
  flex-wrap: wrap;
}

.my-work div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  width: 80%;
}

.my-work img {
  display: flex;
  align-items: flex-end;
  border: 5px solid #2896c9;
  width: 90%;
  flex: 1 90%;
  flex-wrap: wrap;
}

/* allows the selectors below this entry to position correctly. */
.run-buddy, .google-project, .horiseon-project,
.amazon-project, .fb-project {
  position: relative;
}

.run-buddy a, .google-project a, .horiseon-project a,
.amazon-project a, .fb-project a {
  display: flex;
}

/* positions div elements with project titles in bottom left corner of images */
/* not sure how to get these labels to flex when shrinking the screen yet. Text jumps out of the container */
.run-buddy div, .google-project div, .horiseon-project div,
.fb-project div, .amazon-project div {
  display: flex;
  position: absolute;
  bottom: 30px;
  background: #2896c9;
  font-size: 15px;
  font-style: italic;
  font-weight: lighter;
  color: white;
  height: 60px;
  width: 35%;
  /* left: calc(5% + 10px); < -- Not sure why this needed to be changed to the below after adding <a> tag */
  left: 1.6%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-label {
  font-size: 30px;
  font-weight: bold;
}

.projects {
  flex-wrap: wrap;
}

